.nav{
    background-color: rgba(0, 0, 0, 0.107);
    border-radius: 10%;
    padding: 0,5rem 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:larger;
    margin: 1rem;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-bottom: 1em;
    
}

.nav img{
    padding-left: 0.5rem ;
}

.nav img:hover{
    background-color: rgba(184, 135, 11, 0.455);
    border-radius: 70%;
    padding-bottom: 0.5em;  
    padding-top: 0.5em;
}