.div{
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 20%;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
}
.boton{
    background-color: rgba(45, 220, 80, 0.847);
    border-radius: 50%;
    border-color: cadetblue;
    border-style: double;
    font-size: large;
    padding: 0.5rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    margin-left: 90%;
}
.boton:hover{
    background-color: black;
    color: cadetblue;
}
.name{
    text-underline-offset: auto ;
}
.imag{
    border-radius: 20%;
}
.imag.hover{
    transition: all ;
}