.nav{
   padding: 1em;
   display: flex;
   flex-direction: row;
   justify-content:right;
   margin-bottom: 1em;
}   

.personajes {
   display: flex;
   gap: 1em;
   justify-content: center;
   flex-wrap: wrap;
}

.titulo{
   font-size:xx-large;
   font-family:  Verdana, Arial, Helvetica, sans-serif;
   text-decoration: underline;
   text-align: center;
}

.imagen{
   width: 30%;
}